# Executáveis compilados
*.out
*.o

# Executáveis sem extensão (gcc)
a.out

# Arquivos de debug
*.gdb
*.dSYM/

# VS Code
.vscode/

# CLion / JetBrains
.idea/
cmake-build-*/

# Sistema operacional
.DS_Store
Thumbs.db
